<div>
<h1>Demo HttpClient</h1>
<nav>
    <ul>
        <li><a routerLink="home">About Us</a></li>
        <li><a routerLink="altacamarero">Alta Camarero</a></li>
        <li><a routerLink="listadocamarero">Listado de camareros</a></li>
        <li><a routerLink="altaproducto">Alta Productos</a></li>
        <li><a routerLink="listadoproducto">Listado productos</a></li>
    </ul>
</nav>


<router-outlet></router-outlet>

<!-- <app-alta-camarero></app-alta-camarero>
<app-alta-producto></app-alta-producto>
<app-listado-camarero></app-listado-camarero>
<app-listado-producto></app-listado-producto> -->

<hr>

</div>